.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#root {
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 100%;
  display: grid;
  margin-right: 5vw;
  align-items: center;
  justify-content: center;
  color: white;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  width:inherit;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

